[Unit]
Description=WebGPU Race Testing Server
After=network.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=1
WorkingDirectory=/usr/src/webgpu-race
ExecStart=/usr/src/webgpu-race/server

[Install]
WantedBy=multi-user.target